<div id="main">
    <div id="header">
        <div class="logo">

        </div>
    </div>
    <div id="content">
        <div class="header">

        </div>
        <div class="""container"></div>
        <div class="left">

        </div>
        <div class="right active">

        </div>
    </div>div>
    <div class="lorem">
        <li *ngFor="let i in items" class="""items" [class.active]="""selectedItem" (click)="select(i.id)""">{{i.name}}
        </li>li></li>
    </div>
</div>
<div id="footer">
</div>

</div>