<div class="main-div">

    <div class="main-div__bordered-block overlay">


        <!-- <div > -->

        <!-- <h3 class="main-div__bordered-block__heading" style="  white-space: nowrap;"> -->
        <!-- Welcome to the Gesture
                Control panel. Match a sound to a gesture - playback the audio and head over to <span> <a
                        href="/liveplay" style="color: black;">
                        <h3 style="color: black;">Live</h3>
                    </a></span>
            </h3> -->


        <!-- </div> -->
        <div class="main-div__bordered-block">

            <div class="main-div__bordered-block__gesturecomponents">

                <!-- LEFT DIV -->
                <div class="main-div__bordered-block__gesturecomponents__left-div">

                    <!-- <div>
                        <h3 class="main-div__bordered-block__gesturecomponents__left-div__heading">Select Sound Preset
                        </h3>
                        <img src="../assets/images/downarrow.png"
                            style="height: 20px; width: 10px; margin-left: 80px;margin-top: -20px;">
                    </div> -->
                    <!-- <div style="margin-top: -20px; margin-bottom: -30px;">
                        <h3 class="main-div__bordered-block__gesturecomponents__left-div__p1">Gesture Controls</h3>
                        <img src="../assets/images/downarrow.png"
                            style="height: 20px; width: 10px;margin-top: -20px; margin-left: 114px;">
                    </div> -->

                    <!-- <div>
                        <h3 class="main-div__bordered-block__gesturecomponents__left-div__p2">
                            <span style="color: #f493ba;">Play</span>|
                            <span style="color: #d67ce4;">Stop</span>
                        </h3>
                        <img src="../assets/images/downarrow.png"
                            style="height: 20px; width: 10px; margin-left: 38px;margin-top: -20px;">
                    </div> -->
                    <!-- left Div Row 1 -->
                    <app-dropdown class="main-div__bordered-block__gesturecomponents__left-div__dropdown"
                        (x)="log($event, 0)" [index]="0">
                    </app-dropdown>

                    <img src="../assets/images/fingy1_img.png" alt="quad_fingy_img"
                        class="main-div__bordered-block__gesturecomponents__left-div__fingy1">
                    <mat-button-toggle mat-list-icon="fa fa-play"
                        class="main-div__bordered-block__gesturecomponents__left-div__playbutton"
                        (click)=" togglePlayState(0)">
                        <!-- {{playButtonText}} -->
                        <img class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                            src="../assets/images/playpause.png" alt="Play/Pause Button">
                    </mat-button-toggle>


                    <!-- Right Div Row 2 -->
                    <app-dropdown class="main-div__bordered-block__gesturecomponents__left-div__dropdown"
                        (x)="log($event, 1)" [index]="1">
                    </app-dropdown>
                    <img src="../assets/images/double_fingy_img.png" alt="quad_fingy_img"
                        class="main-div__bordered-block__gesturecomponents__left-div__fingy1">
                    <mat-button-toggle mat-list-icon="fa fa-play"
                        class="main-div__bordered-block__gesturecomponents__left-div__playbutton"
                        (click)="togglePlayState(1)">
                        <!-- {{playButtonText}} -->
                        <img class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                            src="../assets/images/playpause.png" alt="Play/Pause Button">
                    </mat-button-toggle>


                    <!-- Right Div Row 3 -->
                    <app-dropdown class="main-div__bordered-block__gesturecomponents__left-div__dropdown"
                        (x)="log($event, 2)" [index]="2">
                    </app-dropdown>
                    <img src="../assets/images/trip_fingy_img.png" alt="quad_fingy_img"
                        class="main-div__bordered-block__gesturecomponents__left-div__fingy1">
                    <mat-button-toggle mat-list-icon="fa fa-play"
                        class="main-div__bordered-block__gesturecomponents__left-div__playbutton"
                        (click)="togglePlayState(2)">
                        <!-- {{playButtonText}} -->
                        <img class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                            src="../assets/images/playpause.png" alt="Play/Pause Button">
                    </mat-button-toggle>

                </div>


                <!-- Right Div -->
                <div class="main-div__bordered-block__gesturecomponents__right-div">

                    <!-- Right Div Row 1 -->
                    <app-dropdown class="main-div__bordered-block__gesturecomponents__right-div__dropdown"
                        (x)="log($event, 3)" [index]="3">
                    </app-dropdown>
                    <img src="../assets/images/quad_fingy_img.png" alt="quad_fingy_img"
                        class="main-div__bordered-block__gesturecomponents__right-div__fingy1">
                    <mat-button-toggle mat-list-icon="fa fa-play"
                        class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                        (click)="togglePlayState(3)">
                        <img class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                            src="../assets/images/playpause.png" alt="Play/Pause Button">
                        <!-- {{playButtonText}} -->
                    </mat-button-toggle>


                    <!-- Right Div Row 2 -->
                    <app-dropdown class="main-div__bordered-block__gesturecomponents__right-div__dropdown"
                        (x)="log($event, 4)" [index]="4">
                    </app-dropdown>
                    <img src="../assets/images/heptagonal_fingy_img.png" alt="quad_fingy_img"
                        class="main-div__bordered-block__gesturecomponents__right-div__fingy1">
                    <mat-button-toggle mat-list-icon="fa fa-play"
                        class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                        (click)="togglePlayState(4)">
                        <img class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                            src="../assets/images/playpause.png" alt="Play/Pause Button">
                        <!-- {{ playButtonText }} -->
                    </mat-button-toggle>


                    <!-- Right Div Row 3 -->
                    <app-dropdown class="main-div__bordered-block__gesturecomponents__right-div__dropdown"
                        (x)="log($event, 5)" [index]="5">
                    </app-dropdown>
                    <img src="../assets/images/stopfingy.png" alt="quad_fingy_img"
                        class="main-div__bordered-block__gesturecomponents__right-div__fingy1">
                    <mat-button-toggle class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                        (click)="togglePlayState(5)">
                        <!-- {{playButtonText}} -->
                        <img class="main-div__bordered-block__gesturecomponents__right-div__playbutton"
                            src="../assets/images/playpause.png" alt="Play/Pause Button">
                    </mat-button-toggle>

                </div>


            </div>

        </div>

    </div>

</div>