<div class="main-div">
    <div class="main-div__bordered-block">
        <div class="main-div__bordered-block__contents">
            <div class="main-div__bordered-block__contents__left">

                <div class="main-div__bordered-block__contents__left__t1">
                    <img src="../../assets/images/1.png" alt="soundwave2"
                        class="main-div__bordered-block__contents__left__t1__img1">
                    <h4 class="main-div__bordered-block__contents__left__t1__h4">
                        Choose and map your desired audio to any of the 5 gestures.
                    </h4>
                </div>

                <div class="main-div__bordered-block__contents__left__t2">
                    <img src="../../assets/images/2.png" alt="soundwave2"
                        class="main-div__bordered-block__contents__left__t2__img2">
                    <h4 class="main-div__bordered-block__contents__left__t2__h4">
                        Once you’re done, head over to the studio to start making some music!
                    </h4>
                </div>


                <div class="main-div__bordered-block__contents__left__t3">
                    <img src="../../assets/images/3.png" alt="soundwave2"
                        class="main-div__bordered-block__contents__left__t3__img3">
                    <h4 class="main-div__bordered-block__contents__left__t3__h4">
                        By default a fist will stop your gesture with a fade out effect.
                    </h4>
                </div>

                <div class="main-div__bordered-block__contents__left__image">
                    <img src="../../assets/images/fist-fingy-attention.png" alt="soundwave2"
                        class="main-div__bordered-block__contents__left__image__image1">
                </div>


            </div>
            <div class="main-div__bordered-block__contents__right">

            </div>
        </div>
    </div>
</div>