.main-div {
    .overlay {


        background: rgba(30, 24, 36, 0.5);

        backdrop-filter: blur(1px);
        // background: linear-gradient(to right, #4c2165, #3A2C6A, #1b172a);
        /* This should be less than the z-index of your element */
    }



    &__bordered-block {
        display: grid;

        width: 93%;
        height: 84%;
        border-radius: 25px;
        background: rgba(16, 6, 27, 0.7);
        // background: rgba(30, 24, 36, 0.5);
        backdrop-filter: blur(30px);

        position: fixed;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -47%);

        box-shadow: 0px 0px 10px rgba(58, 44, 106, 0.1);

        @media (max-width: 1200px) {
            width: 95%;
            height: 90%;
        }

        @media (max-width: 992px) {
            width: 97%;
            height: 92%;
        }

        @media (max-width: 768px) {
            width: 99%;
            height: 94%;
        }

        &__gesturecomponents {
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 16px;



            &__left-div {
                padding-top: 50px;
                display: grid;
                grid-template-columns: 180px 145px 65px 100px;

                gap: 8px;
                justify-content: center;
                justify-self: center;
                justify-items: start;
                align-items: center;
                row-gap: 40px;
                height: 90px;

                &__dropdown {
                    display: grid;
                    margin-top: -25px;
                    justify-content: center;
                    justify-self: center;
                    justify-items: start;

                }

                &__fingy1 {
                    display: grid;
                    height: 80px;
                    justify-content: start;
                    justify-items: center;
                    align-items: start;
                    width: auto;
                }

                &__playbutton {
                    display: grid;
                    height: 50px;
                    width: 50px;
                    border-radius: 100px !important;
                    background-color: #453364;
                    justify-content: center;
                    justify-self: center;
                    justify-items: start;
                    align-items: center;
                }

                &__savebutton {
                    display: grid;
                    height: 50px;
                    width: 70px;
                    border-radius: 100px !important;
                    background-color: #C560FF;
                    justify-content: center;
                    justify-self: center;
                    justify-items: start;
                    align-items: center;
                }
            }

            &__right-div {
                padding-top: 30px;
                display: grid;
                grid-template-columns: 180px 145px 65px 100px;

                gap: 8px;
                justify-content: center;
                justify-self: center;
                justify-items: start;
                align-items: center;
                row-gap: 15px;
                height: 90px;

                &__fingy1 {
                    display: grid;
                    height: 80px;
                    justify-content: start;
                    justify-items: center;
                    align-items: start;
                    width: auto;
                }

                &__playbutton {
                    display: grid;
                    height: 50px;
                    width: 50px;
                    border-radius: 100px !important;
                    background-color: #453364;
                    justify-content: center;
                    justify-self: center;
                    justify-items: start;
                    align-items: center;
                }

                &__savebutton {
                    display: grid;
                    height: 50px;
                    width: 70px;
                    border-radius: 100px !important;
                    background-color: #C560FF;
                    justify-content: center;
                    justify-self: center;
                    justify-items: start;
                    align-items: center;
                }
            }
        }

        &__heading {
            justify-content: center;
            justify-self: left;
            margin-top: 2.5%;
            background: linear-gradient(to right, #00C1FF, #e25c8f, #F4A85A, #F4A85A);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Inter", sans-serif;
            margin-left: 4%;
        }

        &__contents {
            display: grid;
            grid-template-columns: 20% 70%;
            grid-template-rows: 1fr;


            &__left {
                // background-color: aqua;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                margin-left: 20px;
                display: grid;
                margin-top: 20px;
                width: 200px;
                grid-template-rows: 120px 120px 120px;
                height: 95%;
                justify-items: center;
                justify-content: center;

                &__t1 {
                    display: grid;
                    grid-template-columns: auto auto;

                    &__img1 {
                        height: 30px;
                        width: 30px;
                    }

                    &__h4 {
                        padding-left: 10px;
                        font-family: "Inter", sans-serif;
                    }
                }

                &__t2 {
                    display: grid;
                    grid-template-columns: auto auto;

                    &__img2 {
                        height: 30px;
                        width: 30px;
                    }

                    &__h4 {
                        padding-left: 10px;
                        font-family: "Inter", sans-serif;
                    }
                }

                &__t3 {
                    display: grid;
                    grid-template-columns: auto auto;

                    &__img3 {
                        height: 30px;
                        width: 30px;
                    }

                    &__h4 {
                        padding-left: 10px;
                        font-family: "Inter", sans-serif;
                    }
                }

                &__image {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    align-items: center;
                    justify-self: left;
                    margin-left: 16px;
                    gap: 16px;

                    &__image1 {
                        height: 120px;
                        width: 130px;

                    }



                }

            }

            &__right {
                // background-color: rgb(78, 97, 97);
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                height: 95%;
            }
        }
    }
}