<div class="main-splash-div">

    <div [@fadeIn]="element1State" class="main-splash-div__gemma-icon-div">
        <!-- Your first element content -->
        <img src="../../assets/images/gemma-icon.png" alt="Icon" class="main-splash-div__gemma-icon-div__gemma-icon">
    </div>

    <div [@fadeIn]="element2State" class="main-splash-div__gemma-logo-div">
        <!-- Your second element content -->
        <img src="../../assets/images/gemma-logo.png" alt="Icon" class="main-splash-div__gemma-logo-div__gemma-logo">
    </div>

    <div [@fadeIn]="element3State" class="main-splash-div__gemma-text-div">
        <!-- Your second element content -->
        <img src="../../assets/images/gemma-splash-text-long.png" alt="Icon"
            class="main-splash-div__gemma-text-div__text1">

    </div>
    <!-- Add more elements with animations as needed -->
</div>