<div class="main-div">

    <div class="main-div__topcontent">
        <div class="main-div__topcontent__camera">
            <button id="webcamButton" #webcamButton class="main-div__topcontent__button">
                <span (click)="enableCam($event)" class="main-div__bordered-block__top__button__text">ENABLE
                    WEBCAM</span>
            </button>
        </div>

        <div class="main-div__topcontent__block">
            <img src="../assets/images/liveplay.png"
                style="height: 40px; width: auto; display: grid; justify-content: center;padding-top: 9px;align-content: center; align-self: center;">
            <p style="color: rgb(233, 232, 230);margin-top: 8px;padding-left: 6px;">Enable your camera <br>& have fun
                with
                your gestures!
            </p>
        </div>

        <div class="main-div__topcontent__gestureoutput">
            <div class="main-div__bordered-block__mid__gesture-output">
                <p id="gesture_output" #gestureOutput class="main-div__bordered-block__mid__gesture-output__output">
                </p>
            </div>
        </div>
    </div>

    <div class="main-div__bordered-block">



        <div class="main-div__bordered-block__webcam">
            <div class="main-div__bordered-block__webcam__soundwave1">
                <img src="../../assets/images/soundwave-left.png" alt="soundwave1"
                    class="main-div__bordered-block__webcam__soundwave1__png">
            </div>

            <div id="liveView" class="main-div__bordered-block__webcam__liveview">

                <div class="main-div__bordered-block__webcam__liveview__videooutput">
                    <video id="webcam" #webcam autoplay playsInline (loadeddata)="predictWebcam()"
                        style="border-radius: 25px;" [class.flipped-video]="webcamRunning">
                    </video>

                    <canvas class="output_canvas" id="output_canvas" #output_canvas style="position: absolute;">
                    </canvas>
                </div>


            </div>

            <div class="main-div__bordered-block__webcam__soundwave2">
                <img src="../../assets/images/soundwave-right.png" alt="soundwave2"
                    class="main-div__bordered-block__webcam__soundwave2__png2">

            </div>

        </div>

    </div>
</div>