<div class="main-div">
    <div class="main-div__bordered-block">
        <div class="main-div__bordered-block__top">

            <button id="webcamButton" #webcamButton class="main-div__bordered-block__top__button">
                <span (click)="enableCam($event)" class="main-div__bordered-block__top__button__text">ENABLE
                    WEBCAM</span>
            </button>


            <h1 class="main-div__bordered-block__top__heading">TURN UP YOUR VOLUME & HAVE FUN!</h1>

        </div>

        <div class="main-div__bordered-block__mid">
            <div class="main-div__bordered-block__mid__gesture-output">
                <p id="gesture_output" #gestureOutput class="main-div__bordered-block__mid__gesture-output__output">
                </p>
                <!-- <p>hi</p>
                <p>hi</p> -->
            </div>
        </div>


        <div class="main-div__bordered-block__webcam">
            <div class="main-div__bordered-block__webcam__soundwave1">
                <img src="../../assets/images/soundwave-left.png" alt="soundwave1"
                    class="main-div__bordered-block__webcam__soundwave1__png">
            </div>

            <div id="liveView" class="main-div__bordered-block__webcam__liveview">

                <div class="main-div__bordered-block__webcam__liveview__videooutput">
                    <video id="webcam" #webcam autoplay playsInline (loadeddata)="predictWebcam()"
                        style="border-radius: 25px;">
                    </video>

                    <canvas class="output_canvas" id="output_canvas" #output_canvas
                        style="position: absolute;margin-left: 100;">
                    </canvas>
                </div>


            </div>

            <div class="main-div__bordered-block__webcam__soundwave2">
                <img src="../../assets/images/soundwave-right.png" alt="soundwave2"
                    class="main-div__bordered-block__webcam__soundwave2__png2">

            </div>

        </div>

    </div>
</div>