<div *ngIf="!isHiddenRoute()">
    <nav>
        <div class="nav-container">
            <div class="nav-item-logo-div">
                <img src="../assets/images/gemma.png" alt="Logo" class="nav-item-logo">
            </div>
            <ul class="nav-grid">
                <li class="nav-item"><a class="nav-link1" routerLink="/gesture-controls">Gesture Control</a></li>
                <li class="nav-item"><a class="nav-link2" routerLink="/liveplay">Live Play</a></li>
                <li class="nav-item"><a class="nav-link3" routerLink="/helphub">Gemma Hub</a></li>


            </ul>

        </div>
    </nav>
</div>
<router-outlet></router-outlet>