<div *ngIf="!isHiddenRoute()">
    <nav>
        <div class="nav-container">
            <div class="nav-item-logo-div">
                <img src="../assets/images/gemma-logo-icon1.png" alt="Logo" class="nav-item-logo">
            </div>
            <ul class="nav-grid">

                <li class="nav-item"><a class="nav-link" routerLink="/helphub">Help Hub</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/gappinglibrary">Gesture Sound Library</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/gemmastudio">Gesture Sound Library</a></li>
            </ul>

        </div>
    </nav>
</div>
<router-outlet></router-outlet>