.hide-nav {
    display: none;
}

.nav {
    display: grid;
    list-style: none;
}

// buttons
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-right: 50px;
}



.nav-item-logo-div {
    justify-content: left;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-left: 50px;

}

.nav-item-logo {
    justify-content: left;
    height: 90px;
    width: auto;

}

.nav-link {
    justify-content: space-between;
    justify-items: center;
    justify-self: center;
    text-decoration: none;
    color: #232222;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    /* Add this line */
}

.nav-link:hover {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-item {

    width: auto;
    align-items: center;
    height: 35px;
    padding: 4px;
    display: grid;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    color: #232222;

}

.nav-item:hover {
    color: #F09A37;
    /* Add this line */
}