.main-div {
    background: rgba(50, 51, 88, 0.57);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 92%;
    height: 84%;
    margin-left: 5%;
    display: grid;
    gap: 20px;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;


    &__topcontent {
        padding: 16px;
        display: grid;
        margin-top: 16px;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 1fr;
        justify-content: left;
        margin-left: 30px;

        &__creator {
            display: grid;
            grid-template-rows: 100px auto;
            justify-content: center;
            justify-self: center;
            background: #1A1B2D;
            border-radius: 35px;
            height: 300px;
            width: 250px;
            padding: 16px;

            &__img {
                height: 60px;
                width: auto;
            }
        }

        &__inception {
            display: grid;
            grid-template-rows: 100px auto;
            justify-content: center;
            justify-self: center;
            background: #1A1B2D;
            border-radius: 35px;
            height: 300px;
            width: 250px;
            padding: 16px;

            &__img {
                height: 60px;
                width: auto;
            }
        }

        &__future {
            display: grid;
            grid-template-rows: 100px auto;
            justify-content: center;
            justify-self: center;
            background: #1A1B2D;
            border-radius: 35px;
            height: 300px;
            width: 250px;
            padding: 16px;

            &__img {
                height: 60px;
                width: auto;
            }
        }
    }

    &__bottomcontent {
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 1fr;
        display: grid;
        justify-content: left;
        margin-left: 60px;

        &__github {

            margin-top: 16px;
            justify-self: center;
            display: grid;
            background: #1A1B2D;
            border-radius: 35px;
            height: 150px;
            width: 250px;
            padding: 16px;

            &__img {
                height: 60px;
                width: auto;
                align-items: center;
            }

        }
    }

    // &__bordered-block {
    //     display: grid;

    //     width: 93%;
    //     height: 84%;
    //     border-radius: 25px;
    //     background-color: rgba(75, 65, 106, 0.5);
    //     position: fixed;
    //     top: 52%;
    //     left: 50%;
    //     transform: translate(-50%, -47%);
    //     z-index: 9999;
    // }
}