<div class="main-div">
    <div class="main-div__topcontent">
        <div class="main-div__topcontent__creator">
            <img class="main-div__topcontent__creator__img" src="../../assets/images/creator.png">
            <p style="color:rgb(152, 152, 153);">
                Shanré Scheepers, <br>a mutli-instrumentalist always looking for ways to collaborate musically with
                others
                in a more accessible way, and to visualise music in many different & creative way.
                <br style="height: 40px;"><br>
                "You can hear music, and feel it, but to visualise it without insturments... is another dimension of
                creation."
            </p>
        </div>

        <div class="main-div__topcontent__inception">
            <img class="main-div__topcontent__inception__img" src="../../assets/images/inception.png">
            <p style="color:rgb(152, 152, 153);">
                The concept behind Gemma arose as a
                solution for individuals unable to play traditional instruments due to limitations in accessibility,
                capabilities and creative freedom, <br>enabling anyone to collaborate and create
                music alongside those proficient in live instrument playing without limitations.
            </p>
        </div>

        <div class="main-div__topcontent__future">
            <img class="main-div__topcontent__future__img" src="../../assets/images/futureenhancements.png">
            <p style="color:rgb(152, 152, 153);  ">
                While the current version of the app has been developed and is functional, we anticipate ongoing
                enhancements and improvements to further enhance the user experience and expand its features in the
                future, allowing for two handed gestures simultaneously! <br>
                Stay tuned on <span style="color: purple;">github.</span>
            </p>
        </div>
    </div>
    <div class="main-div__bottomcontent">
        <div class="main-div__bottomcontent__github">
            <img class="main-div__bottomcontent__github__img" src="../../assets/images/Github.png">
            <p style="color:rgb(152, 152, 153);">
                <a href="https://github.com/shanrescheepers/Gemma"
                    style="color: purple; text-decoration: none;">shanrescheepers/Gemma</a>
            </p>
        </div>
    </div>
</div>